.o_form_view .oe_button_box + .oe_title.oe_title_cgscop, .o_form_view .oe_button_box + .oe_avatar + .oe_title.oe_title_cgscop{
	width: 60%;
}

.oe_bloc_cgscop{
	width: 600px;
}

.oe_bloc_cgscop .o_field_widget.o_field_many2one{
	width: 278px !important;
}

.btn.btn-cgscop{
	padding: 0px;
}

.o_field_header{
    margin-right: 10px !important;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{
	min-width: 240px !important;
}

.o_activity_view .o_res_name_cell {
    cursor: initial !important;
}

.o_activity_view .o_res_name_cell:hover{
	color: #008784 !important;
}